.home{
  &-section {
    display: flex;
    justify-content: center;
    align-items: center;

    &-1 {
      height: 200vh;
    }
  }
  
  &__content{
    border: 1px solid;
    width: 70%;
    margin: 0 auto;
    padding: 10vw;
    text-align: center;
  }

  &__title {
    color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    font-weight: normal;
  }

  &-video {
    height: 100vh;
    margin: 15vw;

    &__video {
      // height: 100%;
      // width: 100%;
      aspect-ratio: 16/9;
      padding: 0.1vw;
      border: 0.1vw solid;
    }
  }
}

#clement {
  .home__content {
    mix-blend-mode: difference;
    color: wheat;
  }
}